/* styleStartApplicationScene.css */

/* Customize the anchorPane */
#StartApplicationScene {
    -fx-background-color: #CAE9FF;
}

/* Customize the labels */
#StartApplicationScene Label {
    -fx-font-size: 14px;
    -fx-text-fill: #1B4965;
}

/* Customize the buttons */
#StartApplicationScene Button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: 5FA8D3;
}

#StartApplicationScene Button:hover {

    -fx-text-fill: #000000;
}

#StartApplicationScene Button:pressed {
    -fx-background-color: f8f9fa;
    -fx-text-fill: 343a40;
}

/* Customize the password field */
#StartApplicationScene PasswordField {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
}

/* Customize the text field */
#StartApplicationScene TextField {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
}
#StartApplicationScene #numeAplicatie {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}