
.root {
    -fx-background-color: #282828 ;
}

AnchorPane {
    -fx-background-color: #282828;
     -fx-font-family: "Roboto Mono", sans-serif;
     -fx-font-style: normal;
}

 Label {
    -fx-font-size: 14px;
    -fx-text-fill: #F4EBD0;
}

Button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: f6bd60;
}

Button:hover {
    -fx-text-fill: #000000;
}

 Button:pressed {
    -fx-background-color: #f8f9fa;
    -fx-text-fill: #343a40;
}

 PasswordField {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
}

TextField {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
}

#numeAplicatie, #titluCriptareScene, #titluDecriptareScene {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
   -fx-text-fill: #d6ad60;
}
RadioButton {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #d6ad60;
}

