/* styleStartApplicationScene.css */

/* Customize the anchorPane */
.root {
    -fx-background-color: #CAE9FF;
}

/* Customize the labels */
 Label {
    -fx-font-size: 14px;
    -fx-text-fill: #1B4965;
}

/* Customize the buttons */
Button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-color: #5FA8D3; /* Added '#' before color code */
}

Button:hover {
    -fx-text-fill: #000000;
}

 Button:pressed {
    -fx-background-color: #f8f9fa; /* Added '#' before color code */
    -fx-text-fill: #343a40; /* Added '#' before color code */
}

/* Customize the password field */
 PasswordField {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
}

/* Customize the text field */
Scene TextField {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff;
}

#numeAplicatie {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}
